@import "../base/colors.scss";
@import "base/fonts.scss";

.app-wrapper {
    background-color: $blue;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.app-header {
    font-size: 40px;
    color: $off-black;
    font-family: $logo;
    letter-spacing: 1px;
}