@import "base/colors.scss";
@import "base/fonts.scss";

.new-comment-container {
    height: 30px;
    border-bottom: 2px solid $dark-green;
    padding-bottom: 10px;
}

.new-comment-form {
    width: 100%;
    display: flex;
    
    .new-task-submit {
        width: fit-content;
        margin: 0px;
        background-color: $green;
        color: $off-white;
        font-size: 12px;

        &:hover {
            background-color: $dark-green;
        }
    }
}

.new-comment-input {
    box-sizing: border-box;
    color: $off-black;
    border: 2px solid $green;
    border-radius: 10px;
    margin: 0 5px 0 10px;
    padding: 0 8px;
    width: 74%;
    font-family: $serif;
    font-size: 12px;

    &:focus-within {
        background-color: white;
    }
}
