@import "../base/colors.scss";
@import "base/fonts.scss";

.task-container {
    margin-top: 30px;
    width: 500px;
    height: 600px;
    background-color: $off-white;
}

.task-header-wrapper {
    box-sizing: border-box;
    height: 90px;
    border-bottom: 2px solid $dark-green;
    padding: 10px;
    position: relative;
}

.task-header {
    display: flex;
}

.task-title,
.task-title-done,
.edit-task-input {
    box-sizing: border-box;
    color: $green;
    text-decoration: none;
    padding-left: 8px;
    font-family: $sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .5px;
    height: fit-content;
}

.task-title-done {
    text-decoration: line-through;
}

.task-checkmark {
    color: $green;
    font-size: 20px;
    height: fit-content;
    margin-top: 3px;
    cursor: pointer;
}

.task-not-done {
    box-sizing: border-box;
    height: 17px;
    width: 17px;
    border-radius: 1px;
    background-color: $green;
    margin-top: 4px;
    cursor: pointer;
}

.task-description {
    padding-top: 5px;
    font-family: $sans-serif;
    font-size: 16px;
    width: 95%;
}

.update-title-button,
.update-description-button {
    position: absolute;
    color: $green;
    right: 10px;

    &:hover {
        color: $off-black;
    }
}

.update-title-button {
    top: 14px;
}

.update-description-button {
    top: 43px;
}

.edit-task-form {
    width: 100%;
    position: relative;
}

.edit-task-input {
    width: 95%;
    color: $off-black;
    border-bottom: 1px solid $off-black;
}

.edit-task-textarea {
    box-sizing: border-box;
    padding-top: 1px;
    padding-right: 18px;
    font-family: $sans-serif;
    font-size: 16px;
    border: 1px solid $off-black;
    resize: none;
    outline: none;
    width: 96%;
    background-color: $off-white;
}

.update-task-title-button,
.update-task-description {
    color: $green;
    position: absolute;
    right: 22px;

    &:hover {
        color: $off-black;
        cursor: pointer;
    }
}

.update-task-title-button {
    top: 6px;
}

.update-task-description {
    top: 4px;
}

.comments-container {
    height: 500px;
    max-height: 520px;
    overflow: scroll;
    background-image: repeating-linear-gradient(0deg, $off-white, $off-white 20px, $green 2px, $green 21px);
}